html,body {height: 100%; z-index:1;}
h1,h2,h3,h4{font-family:Lobster,serif}
p,ol, li,{font-family: 'Akaya Telivigala', cursive;font-size:small}
ul{position: relative; top:0px; right:7%;}
.footer{position: sticky; width: 100%; left:0;bottom:0; height: 40px;}
h3{position:relative; left: 10%}
.navbar {position: fixed; top: 0; z-index:2; width: 100%}
.books{padding-top: 120px; left:5%; width: 80%; position: unset;}
.container alert alert-info{padding-top: 120px;}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: stretch;
}
.container{padding-top: 120px;}
.container.publisher {padding-top: 120px;}
.publisher {font-family: 'Akaya Telivigala', cursive;padding: 25px; left: 40px}
.ftr {width: 100%; padding: 25px, background: black}
.wrapper{ min-height: 10%;}
.title {color: #d6d4d0}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
 .google-btn {
	 width: 184px;
	 height: 42px;
	 background-color: #4285f4;
	 border-radius: 2px;
	 box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
 .google-btn .google-icon-wrapper {
	 position: absolute;
	 margin-top: 1px;
	 margin-left: 1px;
	 width: 40px;
	 height: 40px;
	 border-radius: 2px;
	 background-color: #fff;
}
 .google-btn .google-icon {
	 position: absolute;
	 margin-top: 11px;
	 margin-left: 11px;
	 width: 18px;
	 height: 18px;
}
 .google-btn .btn-text {
	 float: right;
	 margin: 11px 11px 0 0;
	 color: #fff;
	 font-size: 14px;
	 letter-spacing: 0.2px;
	 font-family: "Roboto";
}
 .google-btn:hover {
	 box-shadow: 0 0 6px #4285f4;
}
 .google-btn:active {
	 background: #1669f2;
}
